*{
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;

}




.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img {
    width: 30%;
    border: 3px solid white;
    border-radius: 50px;
}


.nav-list{
    width: 50%;
    background-color: black;
    display: flex;
    align-items: center;

}



.nav-list li{
    list-style: none;
    padding: 20px 25px;

}


.nav-list li a{
    text-decoration: none;
    color: white;

}

.nav-list li a:hover{
    text-decoration: none;
    color: grey;

}

.rightNav {
    background-color: blueviolet;
    width: 50%;
    text-align: right;
    display: flex;
    
}